In [60]:
import pandas as pd
import random
from pandas import DataFrame
import numpy as np
import math 
from collections import Counter

In [61]:
from google.colab import files

In [62]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [63]:
dataset = pd.read_csv('/content/drive/My Drive/materi kuliah dan tugas /Semester5/Diabetes.csv')
dataset

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [64]:
#Normalisasi dengan min-max
dataset['Pregnancies'] = (dataset['Pregnancies']-dataset['Pregnancies'].min())/(dataset['Pregnancies'].max()-dataset['Pregnancies'].min())
dataset['Glucose'] = (dataset['Glucose']-dataset['Glucose'].min())/(dataset['Glucose'].max()-dataset['Glucose'].min())
dataset['BloodPressure'] = (dataset['BloodPressure']-dataset['BloodPressure'].min())/(dataset['BloodPressure'].max()-dataset['BloodPressure'].min())
dataset['SkinThickness'] = (dataset['SkinThickness']-dataset['SkinThickness'].min())/(dataset['SkinThickness'].max()-dataset['SkinThickness'].min())
dataset['Insulin'] = (dataset['Insulin']-dataset['Insulin'].min())/(dataset['Insulin'].max()-dataset['Insulin'].min())
dataset['BMI'] = (dataset['BMI']-dataset['BMI'].min())/(dataset['BMI'].max()-dataset['BMI'].min())
dataset['DiabetesPedigreeFunction'] = (dataset['DiabetesPedigreeFunction']-dataset['DiabetesPedigreeFunction'].min())/(dataset['DiabetesPedigreeFunction'].max()-dataset['DiabetesPedigreeFunction'].min())
dataset['Age'] = (dataset['Age']-dataset['Age'].min())/(dataset['Age'].max()-dataset['Age'].min())
dataset

     Pregnancies   Glucose  ...       Age  Outcome
0       0.352941  0.743719  ...  0.483333        1
1       0.058824  0.427136  ...  0.166667        0
2       0.470588  0.919598  ...  0.183333        1
3       0.058824  0.447236  ...  0.000000        0
4       0.000000  0.688442  ...  0.200000        1
..           ...       ...  ...       ...      ...
763     0.588235  0.507538  ...  0.700000        0
764     0.117647  0.613065  ...  0.100000        0
765     0.294118  0.608040  ...  0.150000        0
766     0.058824  0.633166  ...  0.433333        1
767     0.058824  0.467337  ...  0.033333        0

[768 rows x 9 columns]

In [65]:
ds1_train = dataset.iloc[0:614]
ds1_test = dataset.iloc[614:768]


#masukan ke list 
list_dataset1_train = ds1_train.values.tolist()
list_dataset1_test  = ds1_test.values.tolist()

train = []
test = []
train.append(list_dataset1_train)
test.append(list_dataset1_test)

In [66]:
ds1_test

     Pregnancies   Glucose  ...       Age  Outcome
614     0.647059  0.693467  ...  0.483333        1
615     0.176471  0.532663  ...  0.100000        0
616     0.352941  0.587940  ...  0.150000        0
617     0.117647  0.341709  ...  0.033333        0
618     0.529412  0.562814  ...  0.483333        1
..           ...       ...  ...       ...      ...
763     0.588235  0.507538  ...  0.700000        0
764     0.117647  0.613065  ...  0.100000        0
765     0.294118  0.608040  ...  0.150000        0
766     0.058824  0.633166  ...  0.433333        1
767     0.058824  0.467337  ...  0.033333        0

[154 rows x 9 columns]

In [67]:
ds2_train1 = dataset.iloc[0:461]
ds2_train2 = dataset.iloc[614:768]
frame = [ds2_train1,ds2_train2]
ds2_train = pd.concat(frame)
ds2_test = dataset.iloc[461:614]
ds2_train


#masukan ke list 
list_dataset2_train = ds2_train.values.tolist()
list_dataset2_test  = ds2_test.values.tolist()

train.append(list_dataset2_train)
test.append(list_dataset2_test)

In [68]:
ds2_test

     Pregnancies   Glucose  ...       Age  Outcome
461     0.058824  0.356784  ...  0.083333        0
462     0.470588  0.371859  ...  0.300000        0
463     0.294118  0.442211  ...  0.266667        0
464     0.588235  0.577889  ...  0.216667        0
465     0.000000  0.623116  ...  0.000000        0
..           ...       ...  ...       ...      ...
609     0.058824  0.557789  ...  0.033333        0
610     0.176471  0.532663  ...  0.050000        0
611     0.176471  0.874372  ...  0.250000        1
612     0.411765  0.844221  ...  0.316667        1
613     0.352941  0.527638  ...  0.083333        0

[153 rows x 9 columns]

In [69]:
ds3_train1 = dataset.iloc[0:307]
ds3_train2 = dataset.iloc[462:768]
frame2 = [ds3_train1, ds3_train2]
ds3_train = pd.concat(frame2)
ds3_test = dataset.iloc[307:462]
ds3_train

#masukan ke list 
list_dataset3_train = ds3_train.values.tolist()
list_dataset3_test  = ds3_test.values.tolist()

train.append(list_dataset3_train)
test.append(list_dataset3_test)

In [70]:
ds3_test

     Pregnancies   Glucose  ...       Age  Outcome
307     0.000000  0.688442  ...  0.000000        0
308     0.000000  0.643216  ...  0.066667        1
309     0.117647  0.623116  ...  0.150000        1
310     0.352941  0.402010  ...  0.333333        0
311     0.000000  0.532663  ...  0.016667        0
..           ...       ...  ...       ...      ...
457     0.294118  0.432161  ...  0.050000        0
458     0.588235  0.743719  ...  0.500000        1
459     0.529412  0.673367  ...  1.000000        0
460     0.529412  0.603015  ...  0.450000        0
461     0.058824  0.356784  ...  0.083333        0

[155 rows x 9 columns]

In [71]:
ds4_train1 = dataset.iloc[0:154]
ds4_train2 = dataset.iloc[308:768]
frame3 = [ds4_train1,ds4_train2]
ds4_train = pd.concat(frame3)
ds4_test = dataset.iloc[154:308]
ds4_train

#masukan ke list 
list_dataset4_train = ds4_train.values.tolist()
list_dataset4_test  = ds4_test.values.tolist()

train.append(list_dataset4_train)
test.append(list_dataset4_test)

In [72]:
ds4_test

     Pregnancies   Glucose  ...       Age  Outcome
154     0.470588  0.944724  ...  0.366667        1
155     0.411765  0.763819  ...  0.250000        1
156     0.117647  0.497487  ...  0.000000        0
157     0.058824  0.547739  ...  0.033333        0
158     0.117647  0.442211  ...  0.016667        0
..           ...       ...  ...       ...      ...
303     0.294118  0.577889  ...  0.116667        1
304     0.176471  0.753769  ...  0.266667        0
305     0.117647  0.603015  ...  0.133333        0
306     0.588235  0.809045  ...  0.433333        1
307     0.000000  0.688442  ...  0.000000        0

[154 rows x 9 columns]

In [73]:
ds5_train = dataset.iloc[155:768]
ds5_test = dataset.iloc[0:155]
ds5_train

#masukan ke list 
list_dataset5_train = ds5_train.values.tolist()
list_dataset5_test  = ds5_test.values.tolist()

train.append(list_dataset5_train)
test.append(list_dataset5_test)

In [74]:
ds5_test

     Pregnancies   Glucose  ...       Age  Outcome
0       0.352941  0.743719  ...  0.483333        1
1       0.058824  0.427136  ...  0.166667        0
2       0.470588  0.919598  ...  0.183333        1
3       0.058824  0.447236  ...  0.000000        0
4       0.000000  0.688442  ...  0.200000        1
..           ...       ...  ...       ...      ...
150     0.058824  0.683417  ...  0.050000        0
151     0.235294  0.572864  ...  0.266667        0
152     0.529412  0.783920  ...  0.350000        1
153     0.058824  0.768844  ...  0.033333        0
154     0.470588  0.944724  ...  0.366667        1

[155 rows x 9 columns]

In [75]:
#rumus jarak L2(euclidean)
def euclidean(trainning,testing):
  jarak=[]
  for i in range(len(trainning)-1):
    if trainning[i] != testing[i]:
      jarak.append(math.sqrt((trainning[i]-testing[i])**2))
  return sum(jarak)

In [76]:
def knn(k,trainning,testing):
  knn = []
  for i in range(len(trainning)):
    knn.append([euclidean(trainning[i],testing), trainning[i][-1]])
  knn.sort()
  return knn[:k]

In [77]:
def prediksi(k,trainning,testing):
  prediksi = []
  for i in range(len(testing)):
    temp_knn = knn(k,trainning,testing[i])
    unik = Counter([temp_knn[i][1] for i in range(len(temp_knn))])
    prediksi.append([temp_knn[i] for i in range(len(temp_knn)) if temp_knn[i][1] == max(unik, key=unik.get)][0])
  return prediksi

In [78]:
def akurasi(testing,prediksi):
  akur = 0
  for i in range(len(prediksi)):
    if prediksi[i][-1]==testing[i][-1]:
      akur +=1
    else:
      akur +=0  
  return ((akur/len(testing)) *100)

In [79]:
list_k = []
K = 20
for i in range(K):
  list_ac = []
  k = i+1
  for i in range(len(train)):
    list_ac.append(akurasi(test[i],prediksi(k,train[i],test[i])))
  avg = sum(list_ac)/5
  list_k.append(avg)
max(list_k)
for i in range(len(list_k)):
  if max(list_k) == list_k[i]:
    temp = i+1    
print("Nilai k terbaik :",temp)   
print("Rata-rata akurasi :",max(list_k))

Nilai k terbaik : 16
Rata-rata akurasi : 76.53176382967655